# Ignore Node.js dependencies
client/node_modules/
server/node_modules/

# Ignore logs
client/logs/
server/logs/
*.log
debug.log

# Ignore environment files
server/.env
client/.next/
# Ignore system files
